# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
.env/


# Ignore any local configuration files
*.local

# Ignore Dockerfile and .dockerignore itself
Dockerfile
.dockerignore

# Ignore other unnecessary files
.git/
.gitignore
README.md
